<div class="card m-5">
  <div class="card-header">
    <!-- Dropdowns here -->

    <div class="row">
      <div class="col-4">
        <select
          class="form-select"
          aria-label=".form-select-sm example"
        >
          <option selected>Select questions category</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-4">
        <select
          class="form-select "
          aria-label=".form-select-sm example"
        >
          <option selected>Select difficulty</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-primary">
          Start
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <!-- Quiz Questions here -->
    <table class="table table-sm">
        <tr>
            <th>What is your name?</th>
        </tr>
        <tr>
            <td>
                <ol class="align-right">
                    <li>Ata</li>
                    <li>Sam</li>
                    <li>Gerald</li>
                </ol>
            </td>
        </tr>
    </table>

  </div>
</div>
